<div id="<%= dom_id post %>">
  <div class="card border-secondary mb-3">
    <div class="card-header">
      <%= post.title %>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= post.description %>
      </p>
    </div>
  </div>
</div>
